input[type="month"]::-webkit-calendar-picker-indicator{
    display: none;
}

.alternate:nth-child(odd) {
    background-color:#4E5D6C;
}
.alternate:nth-child(even) {
    background-color: rgb(91, 108, 124);
}

